[submodule "include/basics-graphics-music"]
	path = include/basics-graphics-music
	url = https://github.com/yuri-panchul/basics-graphics-music
[submodule "include/schoolRISCV"]
	path = include/schoolRISCV
	url = https://github.com/zhelnio/schoolRISCV
[submodule "include/FPGA-UART"]
	path = include/FPGA-UART
	url = https://github.com/WangXuan95/FPGA-UART.git
